.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-top-container {
  padding: 20px 10px 10px 10px;
}

.home-car-card {
  background-color: #00285f;
  width: 300px;
  height: 365px;
  display: flex;
  flex-direction: column;
}

.home-main-image {
  padding: 62px 28px 35px 28px;
}

.home-main-image img {
  width: 244px;
  height: 146px;
}

.home-content {
  text-align: center;
  padding: 0px 20px 51px 20px;
  display: flex;
  flex-direction: column;
}
.home-content h1 {
  font-size: 22px;
  color: #fff;
  margin-bottom: 15px;
}

.home-content p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.home-botton-container {
  padding: 10px;
}

.home-catalog-card {
  background-color: #ededed;
  width: 300px;
  height: 123px;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  align-content: center;
  justify-content: center;
}

.custom-button {
  margin-top: 25px;
}

.home-catalog-card button {
  background-color: #00285f;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  width: 174px;
  height: 40px;
}

.home-catalog-card p {
  font-size: 18px;
  text-align: center;
  margin-top: 9px;
  margin-bottom: 25px;
}

@media (min-width: 576px) {
  .home-top-container {
    padding: 30px 20px 20px 20px;
  }

  .home-car-card {
    width: 536px;
  }

  .home-main-image img {
    width: 333px;
    height: 199px;
  }

  .home-main-image {
    padding: 22px 102px 19px 101px;
  }

  .home-content {
    align-items: center;
  }

  .home-content h1 {
    font-size: 36px;
    margin-bottom: 1px;
  }

  .home-content p {
    width: 420px;
    font-size: 18px;
  }

  .home-catalog-card {
    width: 536px;
    align-content: row;
  }

  .home-catalog-card-content {
    margin-top: 25px;
    margin-left: 16px;
  }
}

@media (min-width: 768px) {
  .home-car-card {
    width: 728px;
    height: 475px;
  }

  .home-main-image {
    padding: 79px 198px 37px 197px;
  }

  .home-catalog-card {
    width: 728px;
    justify-content: left;
    padding-left: 85px;
  }
}

@media (min-width: 992px) {
  .home-car-card {
    width: 952px;
    height: 579px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-catalog-card {
    width: 952px;
  }
}

@media (min-width: 1200px) {
  .home-top-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .home-car-card {
    width: 979px;
    height: 365px;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .home-main-image {
    padding: 10px;
  }

  .home-content {
    margin-top: 50px;
    margin-right: 15px;
    text-align: left;
  }

  .home-catalog-card {
    width: 979px;
  }
}
